@font-face {
  font-family: 'charcuterie_sans_inlineRg';
  src: url('/fonts/charcuterie_sans_inlineRg/charcuterie_sans_inline-webfont.eot'); /* IE9 Compat Modes */
  src: url('/fonts/charcuterie_sans_inlineRg/charcuterie_sans_inline-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/charcuterie_sans_inlineRg/charcuterie_sans_inline-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/charcuterie_sans_inlineRg/charcuterie_sans_inline-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/charcuterie_sans_inlineRg/charcuterie_sans_inline-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/charcuterie_sans_inlineRg/charcuterie_sans_inline-webfont.svg#charcuterie_sans_inlineRg') format('svg'); /* Legacy iOS */
   font-weight: normal;
   font-style: normal;
}
@font-face {
    font-family: 'europeanpiregular';
    src: url('/fonts/europeanpiregular/europeanpi-one-webfont.eot');
    src: url('/fonts/europeanpiregular/europeanpi-one-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/europeanpiregular/europeanpi-one-webfont.woff2') format('woff2'),
         url('/fonts/europeanpiregular/europeanpi-one-webfont.woff') format('woff'),
         url('/fonts/europeanpiregular/europeanpi-one-webfont.ttf') format('truetype'),
         url('/fonts/europeanpiregular/europeanpi-one-webfont.svg#europeanpiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
